# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS temporary
.DS_Store
